
stage1/project_data/bike_share_2017-1.csv
stage1/project_data/bike_share_2017-10.csv
stage1/project_data/bike_share_2017-11.csv
stage1/project_data/bike_share_2017-12.csv
stage1/project_data/bike_share_2017-2.csv
stage1/project_data/bike_share_2017-3.csv
stage1/project_data/bike_share_2017-4.csv
stage1/project_data/bike_share_2017-5.csv
stage1/project_data/bike_share_2017-6.csv
stage1/project_data/bike_share_2017-7.csv
stage1/project_data/bike_share_2017-8.csv
stage1/project_data/bike_share_2017-9.csv
stage1/project_data/bike_share_2018-1.csv
stage1/project_data/bike_share_2018-10.csv
stage1/project_data/bike_share_2018-11.csv
stage1/project_data/bike_share_2018-12.csv
stage1/project_data/bike_share_2018-2.csv
stage1/project_data/bike_share_2018-3.csv
stage1/project_data/bike_share_2018-4.csv
stage1/project_data/bike_share_2018-5.csv
stage1/project_data/bike_share_2018-6.csv
stage1/project_data/bike_share_2018-7.csv
stage1/project_data/bike_share_2018-8.csv
stage1/project_data/bike_share_2018-9.csv
stage1/project_data/bike_share_2019-1.csv
stage1/project_data/bike_share_2019-10.csv
stage1/project_data/bike_share_2019-11.csv
stage1/project_data/bike_share_2019-12.csv
stage1/project_data/bike_share_2019-2.csv
stage1/project_data/bike_share_2019-3.csv
stage1/project_data/bike_share_2019-4.csv
stage1/project_data/bike_share_2019-5.csv
stage1/project_data/bike_share_2019-6.csv
stage1/project_data/bike_share_2019-7.csv
stage1/project_data/bike_share_2019-8.csv
stage1/project_data/bike_share_2019-9.csv
stage1/project_data/bike_share_2020-1.csv
stage1/project_data/bike_share_2020-10.csv
stage1/project_data/bike_share_2020-2.csv
stage1/project_data/bike_share_2020-3.csv
stage1/project_data/bike_share_2020-4.csv
stage1/project_data/bike_share_2020-5.csv
stage1/project_data/bike_share_2020-6.csv
stage1/project_data/bike_share_2020-7.csv
stage1/project_data/bike_share_2020-8.csv
stage1/project_data/bike_share_2020-9.csv
stage1/project_data/bikeshare_stations.csv
stage1/project_data/en_climate_hourly_ON_6158359_01-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_01-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_01-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_01-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_02-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_02-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_02-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_02-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_03-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_03-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_03-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_03-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_04-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_04-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_04-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_04-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_05-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_05-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_05-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_05-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_06-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_06-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_06-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_06-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_07-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_07-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_07-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_07-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_08-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_08-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_08-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_08-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_09-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_09-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_09-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_09-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_10-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_10-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_10-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_10-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_11-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_11-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_11-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_11-2020_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_12-2017_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_12-2018_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_12-2019_P1H.csv
stage1/project_data/en_climate_hourly_ON_6158359_12-2020_P1H.csv
stage1/.DS_Store
.DS_Store
stage1/trips_raw_data.csv
stage2/trips_raw_data.csv
stage2/.ipynb_checkpoints/neighbourhoods_analysis-checkpoint.ipynb
stage2/Question 1/trips_raw_data.csv
stage2/centreline.geojson
stage2/bikeways.geojson
stage1/.ipynb_checkpoints/data_wrangling_and_cleaning-checkpoint.ipynb
stage2/.ipynb_checkpoints/routing_trips-checkpoint.ipynb
stage2/Question 1 Casual vs Annual/.ipynb_checkpoints/Question 1-checkpoint.ipynb
stage2/routes.csv
stage2/Winters-Teschke-2010-Route-preferences-among-adults-in-the-near-market-for-bicycling-findings-of-the-cycling-in-cities-study.pdf
stage3/.ipynb_checkpoints/modelling-checkpoint.ipynb
stage3/trips_raw_data.csv
stage2/Exploratory Data Combined/trips_raw_data.csv
